@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Pathway Extreme', sans-serif;
}

/* body and background */
body {
    font-family: 'Pathway Extreme', sans-serif;
    color: rgb(255, 115, 0);
    font-size: larger;
}

#background {
    background-color: rgb(241, 235, 235);
}

/* heading */
h1 {
    text-align: center;
    font-size: 350%;
}

/* game area */

#main-image {
    padding-top: 20px;
}

.image {
    width: 50%;
}

p {
    margin: 15px;
}

.game-area {
    background-color: rgb(255, 255, 255);
    width: 75%;
    text-align: center;
    margin: auto;
    padding: 15px 0;
}

#question {
    font-size: xx-large;
    margin: 50px 0;
}

.btn-table {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 25px 0;
    gap: 15px;
}

.btn {
    background-color: #ff7b00;
    color: whitesmoke;
    font-size: 35px;
    border: 6px solid #000000;
    border-radius: 20px;
}

.btn:hover {
    border-color: green;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn {
    background-color: #ff7b00;
    color: whitesmoke;
    width: 180px;
    height: 60px;
    font-size: 35px;
    border: 6px solid #000000;
    border-radius: 20px;
}

#next-btn {
    background-color: #ff7b00;
    color: whitesmoke;
    width: 180px;
    height: 60px;
    font-size: 35px;
    border: 6px solid #000000;
    border-radius: 20px;
}

#end-btn {
    background-color: #ff7b00;
    color: whitesmoke;
    width: 180px;
    height: 60px;
    font-size: 35px;
    border: 6px solid #000000;
    border-radius: 20px;
}

#restart-btn {
    background-color: #ff7b00;
    color: whitesmoke;
    width: 180px;
    height: 60px;
    font-size: 35px;
    border: 6px solid #000000;
    border-radius: 20px;
}

#start-btn:hover {
    border-color: green;
}

#next-btn:hover {
    border-color: green;
}

#end-btn:hover {
    border-color: green;
}

#restart-btn:hover {
    border-color: green;
}

.correct {
    background-color: rgb(0, 202, 0);
}

.wrong {
    background-color: rgb(243, 6, 6);
}

.hidden {
    display: none;
}